# Intellij
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# Maven
log/
target/

# Gradle
.gradle/
gradle/
build/
gradlew
gradlew.bat


# Project Dependencies
lib/
